<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="activityAuthorization" type="Meerkat.Security.Activities.Configuration.ActivityAuthorizationSection, Meerkat.Security" />
        <section name="defaultAuthorizationTrue" type="Meerkat.Security.Activities.Configuration.ActivityAuthorizationSection, Meerkat.Security" />
        <section name="defaultAuthorizationFalse" type="Meerkat.Security.Activities.Configuration.ActivityAuthorizationSection, Meerkat.Security" />
    </configSections>

    <activityAuthorization>
        <activity name="Home.Index">
            <deny users="A, D" />
            <allow roles="B, C" />
        </activity>
    </activityAuthorization>

    <defaultAuthorizationTrue authorized="true">
        <activity name="Home.Index" authorized="true">
            <deny users="A, C" />
            <allow roles="B" />
        </activity>
    </defaultAuthorizationTrue>

    <defaultAuthorizationFalse authorized="false">
        <activity name="Home.Index" authorized="false">
            <deny users="A" />
            <allow roles="B" />
        </activity>
    </defaultAuthorizationFalse>
</configuration>