<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="activityAuthorization" type="Meerkat.Security.Activities.Configuration.ActivityAuthorizationSection, Meerkat.Security" />
        <section name="defaultAuthorizationTrue" type="Meerkat.Security.Activities.Configuration.ActivityAuthorizationSection, Meerkat.Security" />
        <section name="defaultAuthorizationFalse" type="Meerkat.Security.Activities.Configuration.ActivityAuthorizationSection, Meerkat.Security" />
    </configSections>

    <activityAuthorization defaultActivity="Foo">
        <activity name="Home.Index">
            <deny users="A, D">
                <claim name="team" issuer="bar" values="E" />
            </deny>
            <allow roles="B, C">
                <claim name="team" issuer="foo" values="F, G" />
            </allow>
        </activity>
        <activity name="Foo">
            <deny users="A, D">
                <claim name="team" issuer="bar" values="E" />
            </deny>
            <allow roles="B, C">
                <claim name="team" issuer="foo" values="F, G" />
            </allow>
        </activity>        
    </activityAuthorization>

    <defaultAuthorizationTrue authorized="true" allowUnauthenticated="true">
        <activity name="Home.Index" authorized="true" allowUnauthenticated="true">
            <deny users="A, C">
                <claim name="team" values="E" />
            </deny>
            <allow roles="B">
                <claim name="team" values="F" />
            </allow>
        </activity>
    </defaultAuthorizationTrue>

    <defaultAuthorizationFalse authorized="false" allowUnauthenticated="false">
        <activity name="Home.Index" authorized="false" allowUnauthenticated="false">
            <deny users="A">
                <claim name="team" values="E" />
            </deny>
            <allow roles="B">
                <claim name="team" values="F" />
            </allow>                
        </activity>
    </defaultAuthorizationFalse>
</configuration>