<log4net>
    <appender name="Console" type="log4net.Appender.ColoredConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger.%M - %message%newline"/>
        </layout>
    </appender>
    <appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%message%newline" />
        </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
        <file value="Meekat.Security.Hmac.Test.log"/>
        <datePattern value=".yyyyMMdd" />
        <preserveLogFileNameExtension value="true" />
        <appendToFile value="true" />
        <maximumFileSize value="10MB" />
        <maxSizeRollBackups value="50" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger.%M - %message%newline" />
        </layout>
    </appender>

    <root>
        <level value="ALL" />
        <appender-ref ref="aiAppender" />
        <appender-ref ref="Console" />

        <appender-ref ref="RollingFile" />
    </root>

    <!-- Controll what's logged per logger -->
    <logger name="Meerkat.Security">
        <level value="ALL" />
    </logger>
</log4net>